*~
*.swp
.bash_history
.cache
.eclipse
.gitconfig
.grails
.grails_history
.m2
.nbi
.netbeans-derby
.ssh
.vrapperrc
Application Data
Cookies
Favorites
IETldCache
KLife
LionFX
Local Settings
My Documents
NTUSER.DAT
PrivacIE
Recent
SendTo
Templates
UserData
_netrc
_viminfo
diary
ntuser.dat.LOG
ntuser.ini
.unite
デスクトップ
スタ*メニュ*
