*~
*.swp
.bash_history
.cache
.eclipse
.gitconfig
.grails
.grails_history
.m2
.nbi
.netbeans-derby
.ssh
.vrapperrc
Application Data
Cookies
Favorites
IETldCache
KLife
LionFX
Local Settings
My Documents
NTUSER.DAT
PrivacIE
Recent
SendTo
Templates
UserData
_netrc
_viminfo
diary
ntuser.dat.LOG
ntuser.ini
.unite
デスクトップ
スタ*メニュ*
.android
.astah
.gem
.groovy
.ivy2
.m2.zip
.nbprofiler
.netbeans-registration
.netbeans
AppData
Contacts
Desktop
Documents
Downloads
Links
Music
Pictures
Saved Games
Searches
Videos
_vim_mru_files
memo.txt.icf
mydata1
mydata2
ntuser.dat*
ntuser.pol
soapui-settings.xml
ssh_known_hosts
vim
**/tags
.ICEauthority
.Xauthority
.anthy/
.bash_logout
.bashrc
.config/
.dbus/
.dmrc
.fontconfig/
.gconf/
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.local/
.macromedia/
.mission-control/
.mozilla/
.netrc
.nv/
.profile
.pulse-cookie
.pulse/
.viminfo
.xsession-errors
.xsession-errors.old
examples.desktop
