<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:postgresql://10.25.107.17:9999/testdb"/>
        <property name="username" value="m2mpf"/>
        <property name="password" value="m2mpf123"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="Hogehoge.xml"/>
  </mappers>
</configuration>